{
  "token": "",
  "prefix": [
    "t/"
  ],
  "playing": "",
  "playing_type": "playing|watching|listening",
  "status_type": "online|idle|dnd",
  "firebase": {
    "apiKey": "",
    "authDomain": "",
    "databaseURL": "",
    "storageBucket": ""
  },
  "yt_api_key":""
}